package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title } - VDJ Video Sync</title>
			<link rel="stylesheet" href="/static/css/output.css?v=3"/>
		</head>
		<body class="bg-gray-950 text-gray-100 h-screen flex flex-col overflow-hidden">
			{ children... }
			<script src="/static/js/app.js?v=9"></script>
		</body>
	</html>
}
